@model Medico

<div class="container mt-4">
    <h2>Editar Médico</h2>

    <form id="Edit" asp-action="Edit" asp-controller="Medico">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label>Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>

        <!--TODO: MUDAR PARA UMA TABELA NO FUTURO-->
        <div class="mb-3">
            <label>Especialidade</label>
            <select asp-for="Especialidade" class="form-control">
                <option>Clínico Geral</option>
                <option>Cardiologista</option>
                <option>Dermatologista</option>
                <option>Pediatra</option>
                <option>Oftalmologista</option>
                <option>Ortopedista</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Telefone</label>
            <input asp-for="Telefone" class="form-control" />
        </div>

        <button type="button" class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#confirmSaveModal">
            Salvar
        </button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>

<div class="modal fade" id="confirmSaveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Confirmar edição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Deseja salvar as alterações deste médico?
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmSaveBtn" class="btn btn-primary">Salvar</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Telefone').mask('(00) 00000-0000');
            document.getElementById("confirmSaveBtn")
                .addEventListener("click", function () {
                    document.getElementById("Edit").submit();
                });
        });
    </script>
}