@page
@model LoginModel

<style>
.auth-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-control {
    border-radius: 8px;
}

.btn-primary {
    border-radius: 8px;
}
</style>

<h1>@ViewData["Title"]</h1>
<div class="auth-container">
    <div class="auth-card">
        <section>
            <form id="account" method="post">
                <h2>Login.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    @*<p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crie uma nova conta.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
